    <div class="contenedor">
      <form action="/login" method="POST" role="form">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" name="nombre">
          <div id="emailHelp" class="form-text"></div>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </form>
    </div>

