extends layout 

block form
  form(action="/productos" method="POST" class="container-sm ")
    div(class="mb-3")
      label(for="exampleInputEmail1" class="form-label") Nombre
      input(type="text" class="form-control" id="nombre" aria-describedby="nombre1" name="title")
      div(id="nombre" class="form-text")
    div(class="mb-3")
      label(for="exampleInputEmail1" class="form-label") Precio
      input(type="text" class="form-control" id="precio" aria-describedby="precio1" name="price")
      div(id="precio" class="form-text")
    div(class="mb-3")
      label(for="exampleInputEmail1" class="form-label") Foto
      input(type="text" class="form-control" id="foto" aria-describedby="foto1" name="thumbnail")
      div(id="foto" class="form-text")

    button(type="submit" class="btn btn-primary") Enviar
    a(class="btn btn-primary" href="/productos" role="button") Productos

