<div class="row">
    <div class="col-md-4 mx-auto">
            <div class="card">
                    <div class="card-header">
                        Login Error 
                    </div>

                    <div class="card-body">
                        
                        <button class="logOut btn btn-primary my-5" onclick="location.href='/users/signin'">Log In</button>
                    </div>
                    

                    </div>
            </div>
    </div>
</div>